.ordering-information__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow: hidden;
}

.ordering-information__item {
  width: 100%;
  display: flex;
}

.ordering-infromation__img {
  display: block;
  width: 300px;
  height: 440px;
}

.ordering-information__inner-list {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  padding: 34px 35px 24px;
  margin: 0;
  list-style-type: none;
}

.ordering-information__inner-item {
  max-width: 108px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  text-align: center;
  flex-grow: 1;
}

.ordering-information__inner-item:not(:nth-child(3n)) {
  margin-right: 44px;
}

.ordering-information__inner-item:not(:nth-child(n+4)) {
  margin-bottom: 70px;
}

.ordering-information__inner-item::before {
  display: block;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  margin-bottom: 20px;
  content: "";
}

.ordering-information__inner-item:nth-child(1)::before {
  background-image: url("../img/wooden-board.jpg");
}

.ordering-information__inner-item:nth-child(2)::before {
  background-image: url("../img/plastic-board.jpg");
}

.ordering-information__inner-item:nth-child(3)::before {
  background-image: url("../img/pvx-panels.jpg");
}

.ordering-information__inner-item:nth-child(4)::before {
  background-image: url("../img/laminate-board.jpg");
}

.ordering-information__inner-item:nth-child(5)::before {
  background-image: url("../img/flooring-board.jpg");
}

.ordering-information__inner-item-name {
  flex-grow: 1;
  margin: 0;
}

.ordering-information__inner-item-price {
  font-weight: 700;
  color: #0d8fe3;
}

.ordering-information__inner-item-material {
  font-size: 12px;
  line-height: 16px;
}
